<div class="users">
<span  *ngFor="let user of usersToArray(); let i=index">
  <div [ngClass]="user.status" class="usercard">
    <img class="usercardimg" src="{{'https://robohash.org/'+ user.name + '.png?set=set1'}}"/>
    <p class="usercardlabel">{{user.name}} : {{user.score}} <br/>{{user.statusLibelle}}</p>
    <button class="smallbt" (click)="remove(user.name)">Supprimer</button>
  </div>
</span>
</div>


<p>
  <button (click)="goodAnswer()" [disabled]="">Bonne réponse :)</button>
</p>
<p>
  <button (click)="badAnswer()" [disabled]="">Mauvaise réponse :(</button>
</p>

<p>
  <button (click)="nextQuestion()">NEXT</button>
</p>
