<div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
        <h1> {{question}}
        </h1>
        <p *ngFor="let answer of answers; let i=index">
            {{i + 1}} - {{answer.title}}
        </p>
    </div>

    <!-- Header -->


</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>