<div class="users">
<span  *ngFor="let user of usersToArray(); let i=index">
  <div [ngClass]="user.status" class="usercard">
    <img class="usercardimg" src="{{'https://robohash.org/'+ user.name + '.png?set=set1'}}"/>
    <p class="usercardlabel">{{user.name}} : {{user.score}} <br/>{{user.statusLibelle}}</p>
  </div>
</span>
</div>


<h1 class="bigquestion"> {{question}}  </h1>
<p class="answer" *ngFor="let answer of answers; let i=index">
    {{i + 1}} - {{answer.title}}
</p>
<div *ngIf="img">
  <img class="questionimg" src="{{img}}"/>
</div>
