@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");


body, input, select, textarea {
		font-family: "Merriweather", Georgia, serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 2.375;
		background-color: #1e252d;
		text-align: center;
		color: #fff;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		margin: 0 0 1rem 0;
	}

	input
	{
		width: 90%;
	}

	button
	{
	  display: inline-block;
	  position: relative;
	  width: 90%;
	  height: 50px;
	  line-height: 32px;
	  border-radius: 2px;
	  font-size: 1.3em;
		text-transform: uppercase;
	  background-color: #fff;
	  color: #000;
	  margin: 20px 10px;
	  transition: 0.2s;
	  transition-delay: 0.2s;
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}
	button:disabled,
	button[disabled]{
	  border: 1px solid #999999;
	  background-color: #cccccc;
	  color: #666666;
	}

	.share {
		color: #fff;
	}

	.users {
	    text-align: center;
	    color: white;
	}

	span {
	display: inline-block;
	}

	.questionimg
	{
		width: 50%
	}

	.smallbt
	{
		line-height: 16px;
		margin: 0px 0px;
		font-size: 0.7em;
		height: 25px;
		width: 100px;
	}

	.digital
	{
		width: 50%;
	}

	.usercard
	{
		padding: 5px;
		margin:5px;
	}
	.usercardlabel
	{
	  font-size: 15px;
	  margin-top: -15px;
	}
	.usercardimg
	{
	  width: 60px;
	}
	.usercardimgbig
	{
		width: 150px;
	}
	.DISABLE
	{
	  opacity: 0.3;
	}
	.STANDBY
	{
	  opacity: 1;
		color: #fff;
	}
	.BUZZ
	{
	  opacity: 1;
	  color: orange;
	}
	.WIN
	{
	  opacity: 1;
	  color: green;
	}
	.FAIL
	{
	  opacity: 1;
	  color: red;
	}
